NET "CLK_IN1" TNM_NET = "CLK_IN1";
TIMESPEC "TS_CLK_IN1" = PERIOD "CLK_IN1" 25 ns HIGH 50 %;
NET "UC_ALE" TNM_NET = "UC_ALE";
TIMESPEC "TS_UC_ALE" = PERIOD "UC_ALE" 20 ns HIGH 50 %;
NET "UC_WRN" TNM_NET = "UC_WRN";
TIMESPEC "TS_UC_WRN" = PERIOD "UC_WRN" 20 ns HIGH 50 %;
NET "CLK_IN1" LOC = "T9";
NET "J1<2>" LOC = "G2";
#NET "J1<3>" LOC = "C1"
NET "J1<4>" LOC = "B1";
#NET "J1<5>" LOC = "C2"
NET "J1<6>" LOC = "C3";
NET "J1<8>" LOC = "D2";
NET "J1<12>" LOC = "E1";
NET "J1<14>" LOC = "F4";
NET "J1<16>" LOC = "F2";
NET "J1<18>" LOC = "G5";
NET "J1<22>" LOC = "G4";
NET "J1<24>" LOC = "H4";
NET "UC_AD<0>" LOC = "M11";
NET "UC_AD<1>" LOC = "N11";
NET "UC_AD<2>" LOC = "P10";
NET "UC_AD<3>" LOC = "R10";
NET "UC_AD<4>" LOC = "T7";
NET "UC_AD<5>" LOC = "R7";
NET "UC_AD<6>" LOC = "N6";
NET "UC_AD<7>" LOC = "M6";
NET "UC_ALE" LOC = "A3";
NET "UC_FLASH_CSN" LOC = "A7";
NET "UC_RDN" LOC = "B4";
NET "UC_WRN" LOC = "A5";
NET "PC_CARD_ADDR<0>" LOC = "R5";
#NET "PC_CARD_ADDR<10>" LOC = "T14"
#NET "PC_CARD_ADDR<11>" LOC = "P13"
#NET "PC_CARD_ADDR<12>" LOC = "R11"
#NET "PC_CARD_ADDR<13>" LOC = "T13"
#NET "PC_CARD_ADDR<14>" LOC = "P12"
#NET "PC_CARD_ADDR<15>" LOC = "P11"
#NET "PC_CARD_ADDR<16>" LOC = "N8"
#NET "PC_CARD_ADDR<17>" LOC = "K4"
#NET "PC_CARD_ADDR<18>" LOC = "K5"
#NET "PC_CARD_ADDR<19>" LOC = "L2"
NET "PC_CARD_ADDR<1>" LOC = "P5";
#NET "PC_CARD_ADDR<20>" LOC = "L3"
#NET "PC_CARD_ADDR<21>" LOC = "L4"
#NET "PC_CARD_ADDR<22>" LOC = "L5"
#NET "PC_CARD_ADDR<23>" LOC = "M1"
#NET "PC_CARD_ADDR<24>" LOC = "M2"
#NET "PC_CARD_ADDR<25>" LOC = "M3"
NET "PC_CARD_ADDR<2>" LOC = "R6";
NET "PC_CARD_ADDR<3>" LOC = "P6";
NET "PC_CARD_ADDR<4>" LOC = "N7";
NET "PC_CARD_ADDR<5>" LOC = "M7";
NET "PC_CARD_ADDR<6>" LOC = "N10";
NET "PC_CARD_ADDR<7>" LOC = "M10";
#NET "PC_CARD_ADDR<9>" LOC = "T10"
NET "PC_CARD_BVD1_STSCHG_N"  LOC = "P2" | PULLUP ;
NET "PC_CARD_BVD2_SPKR_N"  LOC = "N3" | PULLUP ;
NET "PC_CARD_CE1_N" LOC = "T12";
NET "PC_CARD_DATA<0>" LOC = "R4";
NET "PC_CARD_DATA<10>" LOC = "K1";
NET "PC_CARD_DATA<11>" LOC = "P7";
NET "PC_CARD_DATA<12>" LOC = "N5";
NET "PC_CARD_DATA<13>" LOC = "J1";
NET "PC_CARD_DATA<14>" LOC = "J2";
NET "PC_CARD_DATA<15>" LOC = "J3";
NET "PC_CARD_DATA<1>" LOC = "T4";
NET "PC_CARD_DATA<2>" LOC = "T8";
NET "PC_CARD_DATA<3>" LOC = "K13";
NET "PC_CARD_DATA<4>" LOC = "J14";
NET "PC_CARD_DATA<5>" LOC = "J13";
NET "PC_CARD_DATA<6>" LOC = "J16";
NET "PC_CARD_DATA<7>" LOC = "K16";
NET "PC_CARD_DATA<8>" LOC = "P1";
NET "PC_CARD_DATA<9>" LOC = "R1";
NET "PC_CARD_OE_N" LOC = "N12";
NET "PC_CARD_READY_IREQ_N"  LOC = "G1" | PULLUP ;
NET "PC_CARD_REG_N" LOC = "N2";
NET "PC_CARD_RESERVED_INPACK_N" LOC = "N1";
NET "PC_CARD_RESERVED_IORD_N" LOC = "K2";
NET "PC_CARD_RESERVED_IOWR_N" LOC = "K3";
NET "PC_CARD_WAIT_N" LOC = "M4";
NET "PC_CARD_WP_IOIS16_N"  LOC = "T5" | PULLUP ;
NET "RX_L"  LOC = "C5" | PULLUP ;
NET "INITB" LOC = "N9";
NET "TX_L" LOC = "A4";
#NET "PC_CARD_ADDR<8>" LOC = "R13"
NET "CLK_IN2" LOC = "R9";
NET "PC_CARD_WE_N_IN" LOC = "R12";
NET "PC_CARD_ADDR<8>" LOC = "R13";
NET "PC_CARD_ADDR<9>" LOC = "T10";
NET "PC_CARD_ADDR<10>" LOC = "T14";
NET "PC_CARD_ADDR<11>" LOC = "P13";
NET "SDRAM_A<0>" LOC = "C16";
NET "SDRAM_A<1>" LOC = "C15";
NET "SDRAM_A<2>" LOC = "D14";
NET "SDRAM_A<3>" LOC = "D15";
NET "SDRAM_A<4>" LOC = "D16";
NET "SDRAM_A<5>" LOC = "E13";
NET "SDRAM_A<6>" LOC = "E14";
NET "SDRAM_A<7>" LOC = "E15";
NET "SDRAM_A<8>" LOC = "E16";
NET "SDRAM_A<9>" LOC = "F12";
NET "SDRAM_A<10>" LOC = "F13";
NET "SDRAM_A<11>" LOC = "F14";
NET "SDRAM_A<12>" LOC = "F15";
NET "SDRAM_BA0" LOC = "L15";
NET "SDRAM_BA1" LOC = "M13";
NET "SDRAM_CAS_N" LOC = "K12";
NET "SDRAM_CKE" LOC = "M15";
NET "SDRAM_CLK" LOC = "K14";
NET "SDRAM_CS_N" LOC = "L13";
NET "SDRAM_DQ<0>" LOC = "G12";
NET "SDRAM_DQ<1>" LOC = "G13";
NET "SDRAM_DQ<2>" LOC = "G14";
NET "SDRAM_DQ<3>" LOC = "G15";
NET "SDRAM_DQ<4>" LOC = "H13";
NET "SDRAM_DQ<5>" LOC = "H14";
NET "SDRAM_DQ<6>" LOC = "H15";
NET "SDRAM_DQ<7>" LOC = "H16";
NET "SDRAM_DQ<8>" LOC = "K15";
NET "SDRAM_DQ<9>" LOC = "P16";
NET "SDRAM_DQ<10>" LOC = "R16";
NET "SDRAM_DQ<11>" LOC = "P15";
NET "SDRAM_DQ<12>" LOC = "P14";
NET "SDRAM_DQ<13>" LOC = "N16";
NET "SDRAM_DQ<14>" LOC = "N15";
NET "SDRAM_DQ<15>" LOC = "M14";
NET "SDRAM_DQMH" LOC = "N14";
NET "SDRAM_DQML" LOC = "M16";
NET "SDRAM_RAS_N" LOC = "L12";
NET "SDRAM_WE_N" LOC = "L14";
#NET "PC_CARD_CE2_N" LOC = "J4"
NET "J1<3>" LOC = "C1";
